<!DOCTYPE html>
<html lang="en">
    <% include partials/header %>

    <main role="main" class="container">
      <div class="jumbotron" id="body-frame">


<div class="grid-stack">
  <div class="grid-stack-item" data-gs-x="0" data-gs-y="0" data-gs-width="4" data-gs-height="2">
    <div class="grid-stack-item-content">my first widget</div>
  </div>
  <div class="grid-stack-item" data-gs-x="4" data-gs-y="0" data-gs-width="4" data-gs-height="4">
    <div class="grid-stack-item-content">another widget!</div>
  </div>
</div>


      </div>
<!--
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#passwdDialog" data-backdrop="static" data-keyboard="false">
  Launch demo modal
</button>
    -->  
    </main>
    
    <% include partials/footer %>

</html>