<!DOCTYPE html>
<html lang="en">
    <% include partials/header %>

    <main role="main" class="container">
      <div class="jumbotron" id="body-frame">


<div class="grid-stack">

</div>


      </div>
<!--
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#passwdDialog" data-backdrop="static" data-keyboard="false">
  Launch demo modal
</button>
    -->  
    </main>
    
    <% include partials/footer %>

</html>