html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 30px;
}

#body-frame {
	padding-top: 6em;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  line-height: 30px; /* Vertically center the text there */
  background-color: #f5f5f5;
  z-index: 9999;
  padding-left: 3em;
  font-size: 0.8em;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.footer-left {
  margin-left: 1em;
/* margin-left: auto; */
/* text-align: right; */
  float: left;
}
.footer-right {
  margin-right: 3em;
/* margin-left: auto; */
/* text-align: right; */
  float: right;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
}

.btn {
  display: inline-block;
  padding: .375rem .75rem;
  line-height: 1.5;
  border-radius: .25rem;
}

.dropdown:parent {
	margin: auto;
}
.dropdown-header {
  margin-top: -2px;
}

#clientIdSelectorButton {
  width: 180px;
}
a {
  text-decoration: none;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: .5rem;
}

.grid-stack {
  background: #eff6fd;
}
.jumbotron {
  background: #eff6fd;
}

.grid-stack-item-content {
  color: #2c3e50;
  text-align: center;
/*  background-color: #eff6fd; 
  background-color: rgba(100, 190, 215, 0);*/
}
.grid-stack-item {
 /*  background-color: rgba(100, 190, 215, 0.1);
 border-radius: 5px; 
  box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.5); */
   border: 1px solid transparent;
}


.grid-stack-item:hover {
  border-style: dashed;
  border-width: 1px;
  border-color: rgba(5, 162, 255, 0.38);
/*  background-color: rgba(100, 190, 215, 0.1);
 border-radius: 5px; 
  box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.5); */
}

#addWidgetPlusSvg {
	height: 34px;
	fill: #10f000;
 	width: 40px;
}
#addWidgetPlusSvg:hover {
  fill: #ffd8be;
}


#addWidgetPlus {
	fill: #f00000;
}

#widgetadd-list-group {
  height: 300px;
  overflow-y: scroll;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .3rem;
}
.widgetadd-image-parent {
/*  min-width: 50px;
  max-width: 50px;  */
  	width : 70px;
	max-height:  70px;
}


.widgetadd-grouphead-div {
    margin-right: 2em;
    width: 85%;
}

.config-group-fixed-width {
    width: 24em;
}

.ui-draggable-dragging {
  z-index: 1042 !important;
}

.grid-stack-item-removing {
  opacity: 0.8;
  filter: blur(5px);

}

.ui-configure-button {
  mask: url('/images/tool-gear.svg');
  -webkit-mask:url('/images/tool-gear.svg');
   -webkit-mask-size: cover;
  mask-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(110, 113, 110);
  background-size: 14px 14px;
  border: none;
  width: 16px;
  height: 16px;
  bottom: 2px;
  right: 30px;
  display: none;
  position: absolute;
}

