<div class="grid-stack-item" data-gs-x="0" data-gs-y="0" data-gs-width="4" data-gs-height="3" id="<%- data.uuid %>">

<link rel="stylesheet" href="/plugin/Switch/switch.css" />
    <div class="grid-stack-item-content" >
      	<h5><%- data.caption %></h5>
<!-- Material switch -->

<div class="onoffswitch2">
    <input type="checkbox" name="onoffswitch2" class="onoffswitch2-checkbox" id="myonoffswitch2" <%= data.defaultstate ? 'checked' : ''  %>>
    <label class="onoffswitch2-label" for="myonoffswitch2">
        <span class="onoffswitch2-inner"></span>
        <span class="onoffswitch2-switch"></span>
    </label>
</div>


	</div>


</div>
